<li>
  <%= link_to (image_tag product.image.url(:medium)), eshop_product_path(product), class: "product_image" %>

  <div class="product_info">
    <h3>
      <%= link_to product.name, eshop_product_path(product) %>
    </h3>
    <small>
      <%= product.description %>
    </small>
  </div>

  <div class="price_info">
    <!-- <a href="#">+ Add to wishlist</a> -->
    <button class="price_add" title="" type="button">
      <span class="pr_price">od $<%= product.price %></span>
      <span class="pr_add">Do košíka</span>
    </button>
  </div>

</li>
