<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

  <title>CRIBS! 1. Slovenská Značka Oblečenia</title>
  <meta content="Oblečenie pre ženy od slovenskej značky oblečenia CRIBS. Tričko, tielko, sveter, mikina, šaty, nohavice, rifle, krátke nohavice, vetrovky, kabáty, kabelky, peňaženky, šatky najlepšej kvality a za najlepšie ceny na Slovenskom trhu." name="description">
  <meta content="Tričko, tielko, sveter, mikina, šaty, nohavice, rifle, krátke nohavice, vetrovky, kabáty, kabelky, peňaženky, šatky" name="keywords">
  <meta content="index, follow" name="robots">
  <meta content="http://cribs.sk/images/welcome.png" property="og:image">

  <%= stylesheet_link_tag "welcome/welcome" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
